*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
.parent_container{
    background-color: #fff;
    width: 30%;
    margin: auto;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.parent_container .stopper{
    width: 90%;
    margin: auto;
    height: 80vh;
    

} 
.parent_container .stopper h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
}
form{
  padding-top: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  /* size: 20px; */
}


input{
    border: #fff;
    border: none;
    outline: 0;
    width: 100%;
}
:placeholder-shown{
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
}
.parent_container .stopper a p{
    font-size: x-small;
    color: rgb(111, 104, 104);
    padding-top: 10px;
    text-align: end;
}
.parent_container .stopper a{
    text-decoration: none;
}

button{
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    border-radius: 12px;
    color: #fff;
  background:  linear-gradient(to right,#ec008c, #fc6767);
  border: none;
}
.parent_container .stopper a h4{
    color:black;
    padding-top: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bolder;
}
.parent_container .stopper .socials{
    margin: auto;
    text-align: center;
}
.parent_container .socials .stopper i{
    color: black;
    font-size: 10px;
}
form i{
font-size: 10px;
padding-right: 10px;
}
.user{
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;

}
.pass{
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}



@media (max-width:700px){
    .parent_container{
        width: 320px;
        height: 90vh;
        display: flex;
        align-items: center;
        margin-top: 5%;
        padding-bottom: 10%;
      
    }
    .parent_container .stopper{
       margin-top: 10%;

    }
   
  
}
@media (max-width:360px) {
    .parent_container{
        box-shadow: 0px 5px 22px 5px rgba(0,0,0,0.43)
        ;
    }
    
}